* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-family: "Noto Sans", sans-serif;
}

// TEXTO PRINCIPAL
.textoPrincipal {
    display: flex;
    justify-content: center;
    padding: 7px;
    align-items: center;

    div {
        font-size: 20px;
        color: rgb(211, 40, 40);
        font-weight: bold;
        align-items: center;
    }
}

// NAVBAR
.contenedorNavbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(211, 40, 40);
    max-height: 90px;
    padding: 15px;
    align-items: center;

    .logo {
        p {
            font-size: 30px;
            color: white;
            font-weight: bold;
        }
    }

    .nav ul {
        display: flex;
        text-decoration: none;
        list-style: none;

        li {
            font-size: 20px;
            color: white;
            margin-left: 20px;
        }
    }

    .iconos {
        display: flex;

        p {
            font-size: 20px;
            margin-left: 20px;
        }
    }
}

// CARRUSEL
.carrusel {
    margin-top: 10px;
}

// ARTICLE
.contenedorArticle {
    display: flex;
    justify-content: space-evenly;

    p {
        background-color: rgb(211, 40, 40);
        color: white;
        margin-top: 20px;
        border-radius: 16px;
        padding: 12px;
        font-size: 18px;
    }
}

.imgArticle {
    display: flex;
    justify-content: space-evenly;
    padding: 12px;

    img {
        height: 250px;
    }
}

// PRODUCTOS

h1 {
    font-size: 27px;
    font-weight: bold;
    text-align: start;
    margin-top: 40px
}

.contenerdorProductos {
    display: flex;
    justify-content: space-between;

    img {
        max-width: 250px;
    }

    h2 {
        font-size: 15px;
        text-align: center;
    }

    p {
        text-align: center;
        font-weight: bold;
    }
}

// FORMULARIO

form {
    padding: 30px;
}

.contenedorFormulario {
    text-align: center;
    border: 1px solid;
    padding: 10px;

    h3 {
        font-weight: bold;
    }

    .botonSus {
        input {
            width: 50%;
            padding: 5px;
        }
        
        button {
            font-weight: bold;
            padding: 5px;
            background-color: rgb(207, 102, 102);
            color: white;
        }
    }
}